/*-------------------------------------------*\
# Text Sizes
\*-------------------------------------------*/

$mini-font: 8px;
$extra-tiny-font: 10px;
$extra-small-font: 12px;
$small-font: 13px;
$medium-font: 14px;
$large-font: 15px;
$extra-large-font: 16px;